.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

;
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bsRow {
  width:100%;
}

.bsContainer {
  margin-left: 0px !important;
  border: 1px solid green;
}

.selectControl{
  width:100%;
  height: 40px;
}

.MuiFormControl-root {
border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    width: 100%;
    flex-direction: column;
    vertical-align: top;
}

.MuiFilledInput-input{
  padding: 0px !important;
}

input#cc-numberMuiInputBase-input.MuiOutlinedInput-input {
  background-image: none;
  border: 2px solid red ; 
  background-origin: content-box;
  background-position: calc(100% + 40px) center;
  background-repeat: no-repeat;
  background-size: contain;
}

#ccNumber-error{
  background-color: green;
}




